$grey-color: #cbd4da;
$dark-grey: #868f93;
$light-grey: #6c6c6c;
$white-color: #e1e1e1;
$font: 'Lato',
sans-serif;
$black-color: #111111;
$yellow-color: #ded3aa;
$blue-color-link: #68899a;
$white: white;
$screen-width: 80%;